<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ULearning"
        tools:targetApi="31">
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".mulquizresult"
            android:exported="false" />
        <activity
            android:name=".mulquiz"
            android:exported="false" />
        <activity
            android:name=".divquizresult"
            android:exported="false" />
        <activity
            android:name=".divquiz"
            android:exported="false" />
        <activity
            android:name=".subquizresult"
            android:exported="false" />
        <activity
            android:name=".subquiz"
            android:exported="false" />
        <activity
            android:name=".Scoretracking"
            android:exported="false" />
        <activity
            android:name=".additionquizresult"
            android:exported="false" />
        <activity
            android:name=".additionquiz"
            android:exported="false" />
        <activity
            android:name=".divlesson"
            android:exported="false" />
        <activity
            android:name=".divlessoncom"
            android:exported="false" />
        <activity
            android:name=".divition"
            android:exported="false" />
        <activity
            android:name=".divexercise"
            android:exported="false" />
        <activity
            android:name=".divresult"
            android:exported="false" />
        <activity
            android:name=".multilesson"
            android:exported="false" />
        <activity
            android:name=".multilessoncom"
            android:exported="false" />
        <activity
            android:name=".multiplication"
            android:exported="false" />
        <activity
            android:name=".multiexercise"
            android:exported="false" />
        <activity
            android:name=".multiresult"
            android:exported="false" />
        <activity
            android:name=".subresult"
            android:exported="false" />
        <activity
            android:name=".subexercise"
            android:exported="false" />
        <activity
            android:name=".sublessoncom"
            android:exported="false" />
        <activity
            android:name=".subtractionlesson"
            android:exported="false" />
        <activity
            android:name=".subtraction"
            android:exported="false" />
        <activity
            android:name=".AdditionLessonCom"
            android:exported="false" />
        <activity
            android:name=".AddResultActivity"
            android:exported="false" />
        <activity
            android:name=".addexercise"
            android:exported="false" />
        <activity
            android:name=".additionlesson"
            android:exported="true" /> <!-- Closing tag for additionlesson activity -->
        <activity
            android:name=".Addition"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".LogIn"
            android:exported="true" />
        <activity
            android:name=".GetStarted"
            android:exported="true" />
        <activity
            android:name=".introtwo"
            android:exported="true" />
        <activity
            android:name=".Introduction"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>